# Postgres
POSTGRES_PRISMA_URL= #"postgres://<username>:<password>@localhost/<db name>?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING= #"postgres://<username>:<password>@localhost/<db name>"
IMAGE_POSTGRES_PRISMA_URL= #Find this on Vercel, under storage and in the 'ode-images-preview' database. The environment variable will not have the 'IMAGE_' prefix on the dashboard. If you don't have access to the Vercel dashboard, contact a developer or raise a GitHub issue.
IMAGE_POSTGRES_URL_NON_POOLING= #Find this on Vercel, under storage and in the 'ode-images-preview' database. The environment variable will not have the 'IMAGE_' prefix on the dashboard. If you don't have access to the Vercel dashboard, contact a developer or raise a GitHub issue.

# Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGVjaWRpbmctY2hpY2tlbi05NS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY= #Find this in the Clerk dashboard. If you don't have access to the Clerk dashboard, contact a developer or raise a GitHub issue.
CLERK_JWT_KEY= #Find this in the Clerk dashboard. If you don't have access to the Clerk dashboard, contact a developer or raise a GitHub issue.

# ArcGIS
ARCGIS_KEY= #Find this in the ArcGIS dashboard. If you don't have access to the ArcGIS dashboard, contact a developer or raise a GitHub issue.

# Vercel
BLOB_READ_WRITE_TOKEN= #Find this on Vercel, under storage and in the 'ode-blob-preview' database. If you don't have access to the Vercel dashboard, contact a developer or raise a GitHub issue.
VERCEL_BLOB_CALLBACK_URL=http://localhost:3000/api/file/upload

# Assay Master List
ASSAY_MASTER_LIST=https://raw.githubusercontent.com/NOAA-Omics/noaa-omics-metabarcoding-assays/refs/heads/main/assays.tsv
ASSAY_MASTER_LIST_URL=https://github.com/NOAA-Omics/noaa-omics-metabarcoding-assays